extends ../web_lib/layout
include  ../web_lib/plugins

block goInit
    :go:func Profile(header HeaderData, username string, permanent_token string, plugins []PluginTemplateData)

block variables
    - var title= "Profile"

append styles
    link(rel='stylesheet', href='dist/profile/profile.css')

append scripts
    script(src="/dist/profile/profile.js")

block content
    .parent
        .Position
            button.btn#btnPlugins(onclick='Plugins()') Your Plugins
            button.btn#btnAccount(onclick='AccountSettins()') Account Settings
        #Plugin.content-profile
            for plugin in plugins
                +Plugin(plugin, true)
            else
                .noPlugins
                    | You haven't created any plugins yet. Check out the
                    a(href="/devGuide")  Dev Guide

        #Account.content-profile
            table
                tr
                    td Account Information
                    td Username
                    td #{username}
                tr
                    td
                    td Account created
                    td 08.08.2020
                tr
                    td
                    td Token for Plugin Upload
                    td
                        input(style="width: 100px" readonly=true type="text" value=permanent_token)#permanent_token
                        button.btn(onclick='copyPermanentToken()') Copy to clipboard

                tr.newSection
                tr
                    td User Information
                    td Name
                    td #{username}
                tr
                    td
                    td Family Name
                    td #{username}
                tr.newSection
                tr
                    td Change password
                    td Old password
                    td
                        input.plHolder(type='password' placeholder='********')
                tr
                    td
                    td New password
                    td
                        input.plHolder(type='password' placeholder='********')
                tr
                    td
                    td Repeat new password
                    td
                        input.plHolder(type='password' placeholder='********')
                tr
                    td
                    td
                    td
                        input.btn.plHolder(type='button' value="Change password")
